﻿@using DTO;
@model List<DTO.InventarioDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="page-content-area">
    <h1>
        Inventario registrado
    </h1>
    <div class="row">
        <div class="col-xs-12">
            @if (Model != null && Model.Count > 0)
            {
                <div class="table-header">
                    Listado de materiales y sus cantidades disponibles.
                </div>
                <table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr>

                            <th>Material</th>
                            <th>Cantidad disponible</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (InventarioDTO item in Model)
                        {
                            <tr>
                                <td>@item.NombreMaterial</td>
                                <td>@item.Cantidad</td>
                                <td>
                                    <a href="@Url.Action("Movimiento","Inventario",new { id = item.InventarioID})" class="btn btn-xs btn-primary">Mover</a>
                                    <a href="@Url.Action("Historial","Inventario",new { id = item.InventarioID})" class="btn btn-xs btn-primary">Ver historial</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-info">

                    <strong>Apreciado usuario,</strong>
                    no se encontraron materiales registrados en el sistema.
                    <br>
                </div>
            }
        </div>
    </div>
</div>

