﻿
@using DTO;
@model InventarioDTO
@{
    ViewBag.Title = "Movimiento";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<div class="page-content-area">
    <h1>
        Movimiento de inventario
    </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Material: @Model.NombreMaterial</h4>

                    <span class="widget-toolbar">

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>

                    </span>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <form id="formmaterial" method="post" action="#">
                            <input type="hidden" name="__RequestVerificationToken" />
                            <input type="hidden" name="inventarioid" value="@Model.InventarioID" />
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="form-field-mask-3">
                                        Cantidad disponible
                                    </label>

                                    <div class="input-group">
                                        <input value="@Model.Cantidad" readonly class="form-control input-mask-product" name="cantidad" type="text">
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-key"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="form-field-mask-3">
                                        Tipo movimiento
                                    </label>

                                    <div class="input-group">
                                        <select class="form-control input-mask-product" name="tipomovimientoid">
                                            @foreach (TipoMovimientoDTO item in ViewBag.Tipos)
                                            {
                                                <option value="@item.TipoMovimientoID">@item.Nombre</option>
                                            }

                                        </select>
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-key"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="form-field-mask-3">
                                        Cantidad movimiento
                                    </label>

                                    <div class="input-group">
                                        <input value="0" onkeypress='validate(event)' maxlength="10" class="form-control input-mask-product" name="cantidadmovimiento" type="text">
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-key"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="form-field-mask-3">
                                        Motivo
                                    </label>

                                    <div class="input-group">
                                        <textarea required maxlength="1500" style="width:1090px" name="motivo"></textarea>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <br />
                            <div style="text-align:center">
                                <button onclick="crear()" class="btn btn-success" id="btncrear" data-loading-text="Un momento por favor...">Realizar</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function crear() {
        if (!ValidateForm('formmaterial')) {
            return;
        }
        if (confirm("¿Esta seguro que desea registrar este movimiento?")) {

            $("input[name='__RequestVerificationToken']").val(gettoken());
            $('#formmaterial').on('submit', function (e) { e.preventDefault(); });
            var data = $('#formmaterial').serializeArray();
            $('#btncrear').button('loading');

            CallAjax('/Inventario/RealizarMovimiento', data, 'POST', crearSuccess, error);
        }
    }

    function crearSuccess(data) {
        $('#btncrear').button('reset');

        if (data.Code == 200) {
            alert(data.Message);
            window.location = '@Url.Action("Index","Inventario")';
        }
        else if (data.Code == 400) {
            window.location = '@Url.Action("Login", "Login")';
        }
        else {
            alert(data.Message);
        }
    }

    function error(request, status, error) {
        $('#btncrear').button('reset');
        alert(error);
    }

</script>
