﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<!-- /section:settings.box -->
<div class="page-content-area">
    <div class="row">
        <div class="col-xs-12">
           
        </div>
    </div>
</div>
