﻿
@{
    ViewBag.Title = "AddMaterial";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="page-content-area">
    <h1>
        Crear nuevo material
    </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Por favor coloque la siguiente información del material</h4>

                    <span class="widget-toolbar">

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>

                    </span>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <form id="formmaterial" method="post" action="#">
                            <input type="hidden" name="__RequestVerificationToken" />
                            <div>
                                <label for="form-field-mask-3">
                                    Código
                                </label>

                                <div class="input-group">
                                    <input required maxlength="13" onkeypress="validate(event)"  class="form-control input-mask-product" name="codigo" type="text">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label for="form-field-mask-3">
                                    Nombre
                                </label>

                                <div class="input-group">
                                    <input required maxlength="250" class="form-control input-mask-product" name="nombre" type="text">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </div>
                            </div>
                            <hr />
                            <div style="text-align:center">
                                <button onclick="crear()" class="btn btn-success" id="btncrear" data-loading-text="Un momento por favor...">Crear</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function crear() {
        if (!ValidateForm('formmaterial')) {
            return;
        }
        if (confirm("¿Esta seguro que desea regisrar este material?")) {

            $("input[name='__RequestVerificationToken']").val(gettoken());
            $('#formmaterial').on('submit', function (e) { e.preventDefault(); });
            var data = $('#formmaterial').serializeArray();
            $('#btncrear').button('loading');

            CallAjax('/Material/RegistrarMaterial', data, 'POST', crearSuccess, error);
        }
    }

    function crearSuccess(data) {
        $('#btncrear').button('reset');

        if (data.Code == 200) {
            alert(data.Message);
            window.location = '@Url.Action("Index","Material")';
        }
        else if (data.Code == 400) {
            window.location = '@Url.Action("Login", "Login")';
        }
        else {
            alert(data.Message);
        }
    }

    function error(request, status, error) {
        $('#btncrear').button('reset');
        alert(error);
    }

</script>