﻿@using DTO;
@model List<DTO.MaterialDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<!-- /section:settings.box -->
<div class="page-content-area">
    <h1>
        Maestra de materiales <a class="btn btn-primary" style="float:right" href="@Url.Action("AddMaterial","Material")">Adicionar</a>
    </h1>
    <div class="row">
        <div class="col-xs-12">
            @if (Model != null && Model.Count > 0)
            {
                <div class="table-header">
                    Lista de materiales
                </div>
                <table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr>
                            <th>Codigo material</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (MaterialDTO item in Model)
                        {
                            <tr>
                                <td>@item.Codigo</td>
                                <td>@item.Nombre</td>
                                <td>
                                    <button data-loading-text="Eliminando..." onclick="Delete(@item.MaterialID),$(this)" class="btn btn-xs btn-danger">
                                        Eliminar
                                    </button>
                                    <a  href="@Url.Action("EditMaterial","Material",new { id = item.MaterialID})" class="btn btn-xs btn-warning">
                                        Editar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-info">

                    <strong>Apreciado usuario,</strong>
                    no se encontraron materiales registrados en el sistema.
                    <br>
                </div>
            }
        </div>
    </div>
</div>


<script type="text/javascript">

    var button;

    function Delete(id,control) {
        if (confirm("¿Esta seguro que desea eliminar este material?")) {
            var data = {
                MaterialID: id,
                __RequestVerificationToken: gettoken()
            }
            button = control;
            $(button).button('loading');
            CallAjax('/Material/EliminarMaterial', data, 'POST', DeleteSuccess, error);
        }
    }

    function DeleteSuccess(data) {
        $(button).button('reset');
        if (data.Code == 200) {
            alert(data.Message);
            window.location = '@Url.Action("Index","Material")';
        }
        else if (data.Code == 400) {
            window.location = '@Url.Action("Login", "Login")';
        }
        else {
            alert(data.Message);
        }
    }

    function error(request, status, error) {
        $(button).button('reset');
        alert(error);
    }

</script>