﻿@using DTO;
@{
    UsuarioDTO usuario = new UsuarioDTO();
    try
    {
        usuario = (UsuarioDTO)Session["user"];
    }
    catch (Exception ex)
    {

    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Bici-Inventario</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/css/ace.min.css" id="main-ace-style" />


    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
    <script src="~/assets/js/ace-extra.min.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Inventario.js"></script>
    <script type="text/javascript">

        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
    </script>
</head>

<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>

        <div class="navbar-container" id="navbar-container">
            <!-- #section:basics/sidebar.mobile.toggle -->
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="#" class="navbar-brand">
                    <small>
                        Bici Inventario
                    </small>
                </a>
            </div>

            <!-- #section:basics/navbar.dropdown -->
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/assets/avatars/user.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>Bienvenido,</small>
                                @usuario.Nombres
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="@Url.Action("Perfil","Login")">
                                    <i class="ace-icon fa fa-user"></i>
                                    Mi perfil
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="@Url.Action("LogOut","Login")">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Cerrar Sesión
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>

            <!-- /section:basics/navbar.dropdown -->
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar                  responsive">
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
            </script>


            <ul class="nav nav-list">
                <li class="">
                    <a href="@Url.Action("Dashboard","Reporte")">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> Dashboard </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("Index","Usuario")">
                        <i class="menu-icon fa fa-user"></i>
                        <span class="menu-text"> Usuarios </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("Index","Material")">
                        <i class="menu-icon fa fa-list"></i>
                        <span class="menu-text"> Materiales </span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("Index","Inventario")">
                        <i class="menu-icon fa fa-info"></i>
                        <span class="menu-text"> Inventario </span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("Index","Reporte")">
                        <i class="menu-icon fa fa-info"></i>
                        <span class="menu-text"> Reporte </span>
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul><!-- /.nav-list -->
            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <!-- /section:basics/sidebar.layout.minimize -->
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
            </script>
        </div>

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                </script>


            </div>

            <div class="page-content">
                @RenderBody()
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">Bici</span>
                        Inventario &copy; @DateTime.Now.Year
                    </span>

                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->

   

    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>
   

    <link rel="stylesheet" href="~/assets/css/ace.onpage-help.css" />
    <link rel="stylesheet" href="~/docs/assets/js/themes/sunburst.css" />

    <script type="text/javascript">ace.vars['base'] = '..';</script>
    <script src="~/assets/js/ace/elements.onpage-help.js"></script>
    <script src="~/assets/js/ace/ace.onpage-help.js"></script>
    <script src="~/docs/assets/js/rainbow.js"></script>
    <script src="~/docs/assets/js/language/generic.js"></script>
    <script src="~/docs/assets/js/language/html.js"></script>
    <script src="~/docs/assets/js/language/css.js"></script>
    <script src="~/docs/assets/js/language/javascript.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            $('.datatable').DataTable({
            });

        });


    </script>

</body>
</html>

