﻿
@{
    ViewBag.Title = "AddUsuario";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<div class="page-content-area">
    <h1>
        Adicionar nuevo usuario
    </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Por favor complete la información del formulario.</h4>

                    <span class="widget-toolbar">

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>

                    </span>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <form id="formmaterial" method="post" action="#">
                            <input type="hidden" name="__RequestVerificationToken" />
                            <div>
                                <label for="form-field-mask-3">
                                    Nombres
                                </label>

                                <div class="input-group">
                                    <input required maxlength="13" class="form-control input-mask-product" name="nombres" type="text">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label for="form-field-mask-3">
                                    Apellidos
                                </label>

                                <div class="input-group">
                                    <input required maxlength="250" class="form-control input-mask-product" name="apellidos" type="text">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label for="form-field-mask-3">
                                    Rol
                                </label>
                                <div class="input-group">
                                    <select required class="form-control input-mask-product" name="rolid">
                                        <option value="">Seleccione el rol..</option>

                                        @foreach (DTO.RolDTO item in ViewBag.Roles)
                                        {
                                            <option value="@item.RolId">@item.Nombre</option>
                                        }

                                    </select>
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label for="form-field-mask-3">
                                    Correo electrónico
                                </label>

                                <div class="input-group">
                                    <input required maxlength="250" class="form-control input-mask-product" name="correo" type="text">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label for="form-field-mask-3">
                                    Telefono
                                </label>

                                <div class="input-group">
                                    <input required maxlength="10" onkeypress="validate(event)" class="form-control input-mask-product" name="telefono" type="text">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label for="form-field-mask-3">
                                    Contraseña
                                </label>

                                <div class="input-group">
                                    <input required maxlength="250" class="form-control input-mask-product" name="password" type="password">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </div>
                            </div>

                            <div>
                                <label for="form-field-mask-3">
                                    Contraseña(Verificación)
                                </label>

                                <div class="input-group">
                                    <input required maxlength="250" class="form-control input-mask-product" name="validapassword" type="password">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label for="form-field-mask-3">
                                    ¿Activo?
                                </label>

                                <div class="input-group">
                                    <input name="activo" id="activo" value="false"  type="hidden">
                                    <input id="chekactivo" onchange="setActivo($(this))" type="checkbox">
                                </div>
                            </div>
                            <hr />
                            <div style="text-align:center">
                                <button onclick="crear()" class="btn btn-success" id="btncrear" data-loading-text="Un momento por favor...">Crear usuario</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function setActivo(control) {
        if ($(control).is(":checked")) {
            $('#activo').val("true");
        }
        else {
            $('#activo').val("false");
        }
    }

    function crear() {
        $('#formmaterial').on('submit', function (e) {
                e.preventDefault();
        });
        if (!ValidateForm('formmaterial')) {
            return;
        }
        if (confirm("¿Esta seguro que desea registrar este usuario?")) {

            $('#formmaterial').on('submit', function (e) { e.preventDefault(); });

            $("input[name='__RequestVerificationToken']").val(gettoken());
            var data = $('#formmaterial').serializeArray();
            $('#btncrear').button('loading');

            CallAjax('/Usuario/AdicionarUsuario', data, 'POST', crearSuccess, error);
        }
    }

    function crearSuccess(data) {
        $('#btncrear').button('reset');

        if (data.Code == 200) {
            alert(data.Message);
            window.location = '@Url.Action("Index","Usuario")';
        }
        else if (data.Code == 400) {
            window.location = '@Url.Action("Login", "Login")';
        }
        else {
            alert(data.Message);
        }
    }

    function error(request, status, error) {
        $('#btncrear').button('reset');
        alert(error);
    }

</script>

