﻿@using DTO
@model List<DTO.UsuarioDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<!-- /section:settings.box -->
<div class="page-content-area">
    <h1>
        Usuarios registrados en el sistema <a class="btn btn-primary" style="float:right" href="@Url.Action("AddUsuario","Usuario")">Adicionar</a>
    </h1>
    <div class="row">
        <div class="col-xs-12">
            @if (Model != null && Model.Count > 0)
            {
                <div class="table-header">
                    Lista de materiales
                </div>
                <table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Correo</th>
                            <th>Rol</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (UsuarioDTO item in Model)
                        {
                            <tr>
                                <td>@item.Nombres</td>
                                <td>@item.Apellidos</td>
                                <td>@item.Correo</td>
                                <td>@item.NombreRol</td>
                                <td>
                                    @if (item.Activo)
                                    {
                                        <span>Si</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }

                                </td>
                                <td>
                                    @if (item.RolId == 2)
                                    {
                                        if (item.Activo)
                                        {
                                            <button onclick="activacion(false,$(this),@item.UsuarioID)" data-loading-text="Activando..." class="btn btn-xs btn-success">
                                                Desactivar
                                            </button>
                                        }
                                        else
                                        {
                                            <button onclick="activacion(true,$(this),@item.UsuarioID)" data-loading-text="Activando..." class="btn btn-xs btn-danger">
                                                Activar
                                            </button>
                                        }
                                    }
                                    @if (item.RolId == 2)
                                    {
                                        <button data-loading-text="Eliminando..." onclick="eliminar($(this),@item.UsuarioID)" class="btn btn-xs btn-danger">
                                            Eliminar
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-info">

                    <strong>Apreciado usuario,</strong>
                    no se encontraron materiales registrados en el sistema.
                    <br>
                </div>
            }
        </div>
    </div>
</div>


<script type="text/javascript">

    var button;

    function activacion(estado,control,id) {
        if (confirm("¿Esta seguro que desea realizar esta operación?")) {
            var data = {
                UsuarioID:id,
                Activo: estado,
                __RequestVerificationToken: gettoken()
            }
            button = control;
            $(button).button('loading');
            CallAjax('/Usuario/Activacion', data, 'POST', activacionSuccess, error);
        }
    }

    function eliminar(control,id) {
        if (confirm("¿Esta seguro que desea eliminar este usuario?")) {
            var data = {
                UsuarioID: id,
                __RequestVerificationToken: gettoken()
            }
            button = control;
            $(button).button('loading');
            CallAjax('/Usuario/EliminarUsuario', data, 'POST', activacionSuccess, error);
        }
    }

    function activacionSuccess(data) {
        $(button).button('reset');
        if (data.Code == 200) {
            alert(data.Message);
            window.location = '@Url.Action("Index","Usuario")';
        }
        else if (data.Code == 400) {
            window.location = '@Url.Action("Login", "Login")';
        }
        else {
            alert(data.Message);
        }
    }

    function error(request, status, error) {
        $(button).button('reset');
        alert(error);
    }

</script>
