﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div id="pnlvista" class="login-container">
    <div class="center">
        <h1>
            <span class="red">Bici</span>
            <span class="white" id="id-text2">Inventario</span>
        </h1>
    </div>

    <div class="space-6"></div>

    <div class="position-relative">
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                        Por favor ingrese sus credenciales de acceso.
                    </h4>

                    <div class="space-6"></div>

                    <form id="formlogin" method="post" action="#">
                        <input type="hidden" name="__RequestVerificationToken"/>
                        <fieldset>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input required type="text" class="form-control" name="correo" placeholder="Correo electrónico" />
                                    <i class="ace-icon fa fa-user"></i>
                                </span>
                            </label>

                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input required type="password" name="password" class="form-control" placeholder="Password" />
                                    <i class="ace-icon fa fa-lock"></i>
                                </span>
                            </label>

                            <div class="space"></div>

                            <div class="clearfix">

                                <button id="btnlogin" data-loading-text="Un momento..." type="button" onclick="login()" class="width-35 pull-right btn btn-sm btn-primary">
                                    <i class="ace-icon fa fa-key"></i>
                                    <span class="bigger-110">Ingresar</span>
                                </button>
                            </div>

                            <div class="space-4"></div>
                        </fieldset>
                    </form>

                    
                </div><!-- /.widget-main -->

                <div class="toolbar clearfix">
                    
                    <div>
                        <a href="#" data-target="#signup-box" class="user-signup-link">
                            Registrate
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="signup-box" class="signup-box widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header green lighter bigger">
                        <i class="ace-icon fa fa-users blue"></i>
                        Registro de usuario
                    </h4>

                    <div class="space-6"></div>
                    <p> Por favor complete el formulario: </p>

                    <form id="formregistro"  method="post" action="#">
                        <input type="hidden" name="__RequestVerificationToken" />
                        <fieldset>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input required type="email" class="form-control" name="nombres" placeholder="Nombres" />
                                    <i class="ace-icon fa fa-envelope"></i>
                                </span>
                            </label>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input required type="email" class="form-control" name="apellidos" placeholder="Apellidos" />
                                    <i class="ace-icon fa fa-envelope"></i>
                                </span>
                            </label>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input required type="email" class="form-control" name="correo" placeholder="Correo electronico" />
                                    <i class="ace-icon fa fa-envelope"></i>
                                </span>
                            </label>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input required type="password" class="form-control" name="password" placeholder="Password" />
                                    <i class="ace-icon fa fa-lock"></i>
                                </span>
                            </label>

                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input required type="password" class="form-control" name="validapassword" placeholder="Confirme password" />
                                    <i class="ace-icon fa fa-retweet"></i>
                                </span>
                            </label>

                            <div class="space-24"></div>

                            <div class="clearfix">

                                <button id="btnregistro" data-loading-text="Un momento por favor..." type="button" onclick="registrar()" class="width-65 pull-right btn btn-sm btn-success">
                                    <span class="bigger-110">Registrarse</span>

                                    <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div class="toolbar center">
                    <a href="#" data-target="#login-box" class="back-to-login-link">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Ir al login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

   

    function login(){
        if (!ValidateForm('formlogin')) {
            return;
        }

        $("input[name='__RequestVerificationToken']").val(gettoken());
        $('#formlogin').on('submit', function (e) { e.preventDefault(); });
        var data = $('#formlogin').serializeArray(); 
        $('#btnlogin').button('loading');
        CallAjax('/Login/LoginUser', data, 'POST', loginSuccess, error);
    }

    function registrar() {
        if (!ValidateForm('formregistro')) {
            return;
        }

        $("input[name='__RequestVerificationToken']").val(gettoken());
        $('#formregistro').on('submit', function (e) { e.preventDefault(); });
        var data = $('#formregistro').serializeArray();
        $('#btnregistro').button('loading');

        //$('#pnlvista').load('/Login/RegistroUser', data);
        CallAjax('/Login/RegistroUser', data, 'POST', registrarSuccess, error);
    }

    function registrarSuccess(data) {
        $('#btnregistro').button('reset');
        if (data.Code == 200) {
            alert(data.Message);
        } else {
            alert(data.Message);
        }
    }

    function loginSuccess(data) {
        $('#btnlogin').button('reset');
        if (data.Code == 200) {
            location = '/Home/Home'
        } else {
            alert(data.Message);
        }  
    }

    function error(request, status, error) {
        $('#btnlogin').button('reset');
        $('#btnregistro').button('reset');
        alert(error);
    }

</script>