﻿
@{
    ViewBag.Title = "NoAcceso";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="row">
    <div class="col-xs-12">

        <div class="error-container">
            <div class="well">
                <h3 class="grey lighter smaller">
                    <span class="blue bigger-125">
                        Apreciado usuario,
                    </span>
                    lo sentimos, pero no tiene los permisos para acceder a esta vista.
                </h3>
                <hr>
            </div>
        </div>
    </div><!-- /.col -->
</div>

