﻿@using DTO
@model UsuarioDTO
 
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<div class="page-content-area">
    <h1>
        Mi perfil de usuario
    </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Esta es la información suya en el sistema.</h4>

                    <span class="widget-toolbar">

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>

                    </span>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <form id="formmaterial" method="post" action="#">
                            <input type="hidden" name="__RequestVerificationToken" />
                            <input type="hidden" name="usuarioid" value="@Model.UsuarioID" />
                            <div>
                                <label for="form-field-mask-3">
                                    Nombres
                                </label>

                                <div class="input-group">
                                    <input value="@Model.Nombres" required maxlength="30" class="form-control input-mask-product" name="nombres" type="text">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label for="form-field-mask-3">
                                    Apellidos
                                </label>

                                <div class="input-group">
                                    <input value="@Model.Apellidos" required maxlength="30" class="form-control input-mask-product" name="apellidos" type="text">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label for="form-field-mask-3">
                                    Rol
                                </label>

                                <div class="input-group">
                                    <input readonly value="@Model.NombreRol" maxlength="250" class="form-control input-mask-product" name="apellidos" type="text">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label for="form-field-mask-3">
                                    Correo electrónico
                                </label>

                                <div class="input-group">
                                    <input readonly value="@Model.Correo" required maxlength="250" class="form-control input-mask-product" name="correo" type="text">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label for="form-field-mask-3">
                                    Telefono
                                </label>

                                <div class="input-group">
                                    <input  value="@Model.Telefono" onkeypress="validate(event)" required maxlength="10" class="form-control input-mask-product" name="telefono" type="text">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </div>
                            </div>
                            <hr />
                            <div style="text-align:center">
                                <button type="button" onclick="crear()" class="btn btn-success" id="btncrear" data-loading-text="Un momento por favor...">Editar usuario</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function crear() {
        if (!ValidateForm('formmaterial')) {
            return;
        }
        if (confirm("¿Esta seguro que desea editar su información?")) {

            $("input[name='__RequestVerificationToken']").val(gettoken());
            $('#formmaterial').on('submit', function (e) { e.preventDefault(); });
            var data = $('#formmaterial').serializeArray();
            $('#btncrear').button('loading');

            CallAjax('/Usuario/EditarUsuario', data, 'POST', crearSuccess, error);
        }
    }

    function crearSuccess(data) {
        $('#btncrear').button('reset');

        if (data.Code == 200) {
            alert(data.Message);
            window.location = '@Url.Action("Index","Usuario")';
        }
        else if (data.Code == 400) {
            window.location = '@Url.Action("Login", "Login")';
        }
        else {
            alert(data.Message);
        }
    }

    function error(request, status, error) {
        $('#btncrear').button('reset');
        alert(error);
    }

</script>



