﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    var info;

    (function () {
        loaddata();
    })();

    function loaddata() {
        var data = {
            __RequestVerificationToken:gettoken()
        }
        CallAjax('/Inventario/SeleccionarTodoInventario', data, 'POST', loaddataSuccess, error);
    }
   

    function loaddataSuccess(data)
    {
        info = data;
      
    }


    function error(request, status, error) {
        alert(error);
    }

    google.charts.load("current", { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        if (info != null && info.length > 0) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Month');
            data.addColumn('number', 'Count');

            for (var i = 0; i < info.length; i++) {
                data.addRow([info[i].NombreMaterial, info[i].Cantidad]);
            }
            var view = new google.visualization.DataView(data);

            var options = {
                title: "Cantidad de materiales",
                width: 600,
                height: 400,
                bar: { groupWidth: "95%" },
                legend: { position: "none" },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
            chart.draw(view, options);
        }
        else {
            $('#columnchart_values').html("De momento no tienes información para mostrar las graficas.");
        }
    }
</script>
<div id="columnchart_values" style="width: 1200px; height: 400px;"></div>
