﻿
@using DTO;
@model List<DTO.InventarioTransaccionDTO>
@{
    ViewBag.Title = "Historial";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<!-- /section:settings.box -->
<div class="page-content-area">
    <h1>
        Reporte historico de movimientos
    </h1>
    <div class="row">
        <div class="col-xs-12">
            @if (Model != null && Model.Count > 0)
            {
                <div class="table-header">
                    Historico de movimientos de los materiales (Ingresos y salidas)
                </div>
                <table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable no-footer datatable" role="grid" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr>
                            <th>Material</th>
                            <th>Tipo movimiento</th>
                            <th>Cantidad</th>
                            <th>Motivo</th>
                            <th>Usuario</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (InventarioTransaccionDTO item in Model)
                        {
                            <tr>
                                <td>@item.NombreMaterial</td>
                                <td>@item.TipoMovimiento</td>
                                <td>@item.Cantidad</td>
                                <td>@item.Motivo</td>
                                <td>@item.Usuario</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-info">

                    <strong>Apreciado usuario,</strong>
                     de momento no tenemos información para mostrar.
                    <br>
                </div>
            }
        </div>
    </div>
</div>



